.App {
  text-align: center;
}
.container-1 {
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid rgb(95, 99, 104);
  display: inline-block;
  padding: 30px;
  margin: 150px 20px 0 50px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  border-radius: 10px;
}
.container-1 h2 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.container-1 p {
  font-size: 18px;
  font-family: "IBM Plex Mono";
  padding-top: 10px;
}
.container-1 button {
  border-radius: 100%;
}
