body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202124 !important;
  color: #e8eaed !important;
}
.container {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  height: 85px;
}
.logo-header {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-left: 30px;
}
.logo-header img {
  height: 70px;
  width: auto;
  padding-left: 50px;
}
.header-right {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding-right: 200px;
  padding-top: 20px;
}
.mb-3 {
  padding-right: 100px;
}
input {
  width: fit-content;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}
input,
textarea {
  width: 50%;
  padding: 5px;
  background-color: inherit;
  outline: none;
  border: none;
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  border: 1px solid #5f6368;
}
